In [1]:
for i in 'hello':
    print(i, end = ' ')

h e l l o

In [2]:
range (5)

range(0, 5)

In [5]:
for i in range(5):
    print(i, end = ' UwU ') #Nice

0 UwU 1 UwU 2 UwU 3 UwU 4 UwU

In [8]:
help('range') #Same as shift + tab

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [16]:
#Number of events after rolling two dice
for i in range(1,7):
    for j in range(1,7):
        print((i, j), end = ' ')
    print('\n')

(1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (1, 6)

(2, 1) (2, 2) (2, 3) (2, 4) (2, 5) (2, 6)

(3, 1) (3, 2) (3, 3) (3, 4) (3, 5) (3, 6)

(4, 1) (4, 2) (4, 3) (4, 4) (4, 5) (4, 6)

(5, 1) (5, 2) (5, 3) (5, 4) (5, 5) (5, 6)

(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)

In [17]:
products = ["Product A", "Product B"]
exp_sales = [10000, 11000, 12000, 13000, 14000]
time_horizon = (1, 3, 12)

In [18]:
#Expected sales for products
for i in products:
    for j in exp_sales:
        print((i, j))
    print('\n')

('Product A', 10000)
('Product A', 11000)
('Product A', 12000)
('Product A', 13000)
('Product A', 14000)


('Product B', 10000)
('Product B', 11000)
('Product B', 12000)
('Product B', 13000)
('Product B', 14000)

In [22]:
#Expected sales for products 
#for monthly, quarterly and annual basis
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print((i, j*k))
        print('\n')
    print('\n')

('Product A', 10000)
('Product A', 30000)
('Product A', 120000)


('Product A', 11000)
('Product A', 33000)
('Product A', 132000)


('Product A', 12000)
('Product A', 36000)
('Product A', 144000)


('Product A', 13000)
('Product A', 39000)
('Product A', 156000)


('Product A', 14000)
('Product A', 42000)
('Product A', 168000)




('Product B', 10000)
('Product B', 30000)
('Product B', 120000)


('Product B', 11000)
('Product B', 33000)
('Product B', 132000)


('Product B', 12000)
('Product B', 36000)
('Product B', 144000)


('Product B', 13000)
('Product B', 39000)
('Product B', 156000)


('Product B', 14000)
('Product B', 42000)
('Product B', 168000)

In [39]:
#Expected sales for products 
#for monthly, quarterly and annual basis
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print('Expected sales for a period of {0} month(s) for {1}: ${2}'.format(k, i, j*k))
        print('\n')
    print('\n')

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000


Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000


Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000


Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000


Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000




Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000


Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000


Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000


Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000


Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

In [36]:
#Expected sales for products 
#for monthly, quarterly and annual basis
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print ('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale * t_hor))
        print('\n')
    print('\n')

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000


Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000


Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000


Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000


Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000




Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000


Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000


Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000


Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000


Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

In [40]:
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print(f'Expected sales for a period of {k} month(s) for {i}: ${j*k}')
        print('\n')
    print('\n')

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000


Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000


Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000


Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000


Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000




Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000


Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000


Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000


Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000


Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

List comprehensions

In [41]:
numbers = [1, 13, 4, 5, 63, 100]
new_numbers = []
for i in numbers:
    new_numbers.append(2*i)
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [42]:
new_numbers = [n * 2 for n in numbers]
new_numbers

[2, 26, 8, 10, 126, 200]

In [6]:
for i in range(2):
    for j in range(5):
        print(i + j, end = ' ')

0 1 2 3 4 1 2 3 4 5

In [49]:
new_list_comprehension_1 = [i + j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [2]:
#List of lists
new_list_comprehension_2 = [[i + j for i in range(2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [19]:
li = []
for j in range(5):
    li2 = []
    for i in range(2):
        li2.append(i + j)
    li.append(li2)
print(li)

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [3]:
type(new_list_comprehension_2[0])

list

In [5]:
type(new_list_comprehension_2[0][0])

int

In [4]:
type(new_list_comprehension_2)

list

In [56]:
#Raise to power of 3 if odd
[i ** 3 for i in range(11) if (i%2 == 1)]

[1, 27, 125, 343, 729]

In [59]:
for i in range(11):
    if i%2 != 0:
        print(i ** 3, end = ' ')

1 27 125 343 729

In [63]:
#Conditional statement directly on the output
[i ** 3 if (i%2 == 1) for i in range(11)]

SyntaxError: invalid syntax (<ipython-input-63-b047dabb4213>, line 2)

In [64]:
#Must suggest an output value for each possible outcome
[i ** 3 if (i%2 == 1) else 'Even' for i in range(11)]

['Even', 1, 'Even', 27, 'Even', 125, 'Even', 343, 'Even', 729, 'Even']

Lambda functions

In [1]:
def raise_to_the_power_of_2(x):
    return x**2
raise_to_the_power_of_2(3)

9

In [2]:
lambda x: x**2

In [3]:
#Not good since we are naming a lambda function
#Not uses to best feature ie, not naming an anonymous func.
raise_to_the_power_of_2_lambda = lambda x: x**2
raise_to_the_power_of_2_lambda(3)

9

In [6]:
#Arguments in brackets
(lambda x: x/2)(11)

5.5

In [7]:
#Can have multiple parameters
sum_xy = lambda x, y: x + y
sum_xy(2,3)

5

In [9]:
(lambda x, y: x + y)(2, 3)

5

In [10]:
sum_xy = lambda x, y: x + y(x)

In [12]:
sum_xy(2, sum(2))

TypeError: 'int' object is not iterable

In [13]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [14]:
sum_xy(2, lambda x : x * 5)

12