In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
products = ['A', 'B', 'C', 'D']
print(products)
type(products)

['A', 'B', 'C', 'D']

list

In [4]:
product_categories = pd.Series(products)

In [5]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [6]:
type(product_categories)

pandas.core.series.Series

In [7]:
daily_rates_dollars = pd.Series([23, 53, 74, 22])
daily_rates_dollars

0    23
1    53
2    74
3    22
dtype: int64

In [8]:
print(daily_rates_dollars)

0    23
1    53
2    74
3    22
dtype: int64

In [9]:
daily_rates_dollars.dtype

dtype('int64')

In [10]:
import numpy as np

In [11]:
array_a = np.array([23,24,132,52,13,52])
array_a

array([ 23,  24, 132,  52,  13,  52])

In [12]:
series_a = pd.Series(array_a)
series_a

0     23
1     24
2    132
3     52
4     13
5     52
dtype: int32

In [13]:
type(array_a)

numpy.ndarray

In [14]:
type(series_a)

pandas.core.series.Series

In [15]:
series_a.dtype

dtype('int32')

In [16]:
series_a.size

6

In [17]:
product_categories.dtype

dtype('O')

In [18]:
product_categories.size

4

In [19]:
product_categories.name

In [20]:
product_categories.name = 'Product Categories'
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [21]:
product_categories.name

'Product Categories'

In [22]:
product_categories.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
type(product_categories.name)

str

Series attributes

In [24]:
series_a.dtype

dtype('int32')

In [25]:
series_a.size

6

In [26]:
product_categories.size

4

In [27]:
type(product_categories.size)

int

In [28]:
type(series_a.dtype)

numpy.dtype[int32]

In [29]:
product_categories.name

'Product Categories'

In [30]:
product_categories.name = "Product Categories"

In [31]:
print(product_categories.name)

Product Categories

In [32]:
print(product_categories)

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [33]:
prices_per_category = {'Product A':22324, 'Product B':16600, 'Product C':15600}
prices_per_category

{'Product A': 22324, 'Product B': 16600, 'Product C': 15600}

In [34]:
type(prices_per_category)

dict

In [35]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22324
Product B    16600
Product C    15600
dtype: int64

In [36]:
type(prices_per_category)

pandas.core.series.Series

In [37]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [38]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

Label-based vs Position-based Indexing

In [39]:
series_a

0     23
1     24
2    132
3     52
4     13
5     52
dtype: int32

In [40]:
series_a.index

RangeIndex(start=0, stop=6, step=1)

In [41]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [42]:
list(series_a.index)

[0, 1, 2, 3, 4, 5]

In [43]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22324
Product B    16600
Product C    15600
dtype: int64

In [44]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [45]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

In [46]:
print(prices_per_category[0])
print(prices_per_category['Product A'])

22324
22324

In [47]:
series_b = pd.Series([10,20,30,40,50], index = [1,2,3,4,5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [48]:
series_b[0]  #Assigning integers as keys will not give you an implicit index

KeyError: 0

In [ ]:
series_b[1]

In [ ]:
series_c = pd.Series([10,20,30,40,50], index = ['1','2','3','4','5'])
series_c

In [ ]:
series_c[1] #Index values are strings, therefore we get implicit indexing

In [ ]:
series_c['1']

Pandas series methods

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})
start_date_deposits

In [ ]:
start_date_deposits.sum()

In [ ]:
start_date_deposits.min()

In [ ]:
start_date_deposits.max()

In [ ]:
start_date_deposits.idxmax()

In [ ]:
start_date_deposits.idxmin()

Non-mathematical methods

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.tail()

In [ ]:
start_date_deposits.head(3)

In [ ]:
start_date_deposits.head(n = 3) #Using parameter names

Dataframes

In [ ]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'],\
       'ProductPrice': [22250, 16600, 12500]}
df = pd.DataFrame(data)
df

In [ ]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'],\
       'ProductPrice': [22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

In [ ]:
data = {'ProductName': ['Product A', 'Product B', 'Product C'],\
       'ProductPrice': [22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

DataFrame from list of dictionaries

In [ ]:
# Each dictionary represents one row or one record
data = [{'ProductName': 'Product A','ProductPrice': 22250},
        {'ProductName': 'Product B','ProductPrice': 16600},
        {'ProductName': 'Product C','ProductPrice': 12500}
       ]
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

In [49]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName': ser_products, 'ProductPrices': ser_prices}
df = pd.DataFrame(data)
print(df)

  ProductName  ProductPrices
A   Product A          22250
B   Product B          16600
C   Product C          12500

In [58]:
#DataFrome from lists
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [61]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [62]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [63]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]],
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [64]:
df.shape

(3, 2)

In [65]:
df.min()

ProductName     Product A
ProductPrice        12500
dtype: object

In [70]:
df.sum()

ProductName     Product AProduct BProduct C
ProductPrice                          51350
dtype: object

In [69]:
df['ProductPrice'].sum()

51350